:root {
  --main-color: #141010;
  --black-transp50: rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Martel Sans", sans-serif;
}

body {
  color: white;
  background-color: var(--main-color);
}

main {
  display: none; /*as default isn displayed, display=block*/
}
/******************Navbar**********************/
nav {
  width: 100vw;
  min-height: 3rem;
  background: var(--black-transp50);
  display: none; /*as default isn displayed, display=flex*/
  flex-direction: column;
  align-items: center;
}
.navbar--logo {
  display: flex;
  align-items: center;
}
.navbar--links {
  padding: 0 1rem;
  list-style: none;
  display: flex;
}

.navbar--links li {
  padding: 0 0.5rem;
}

.navbar--links a {
  text-decoration: none;
}

/******************Greeting**********************/
.greeting-container {
  height: 99vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting-img {
  max-width: 22rem;
  margin-bottom: 2rem;
}

.greeting-container a {
  margin: 0 auto;
}
.greeting-container h1 {
  display: none;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
}
.greeting-btn {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 8px;
  margin: 2rem auto;
  padding: 0 1rem;
  font-size: 1rem;
}

.greeting-btn:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
}

.greeting-grades {
  display: none; /* No displayed as default,  display flex*/
  justify-content: space-evenly;
  margin: 2rem 0;
  animation: slideUp 800ms ease-out;
}
.grade {
  width: 6rem;
  height: 6rem;
}

.grade img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

/******************Sections & Cards**********************/

section {
  margin: 0 auto;
  padding: 1rem;
  max-width: 35rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 12rem);
  gap: 1rem;
  justify-content: center;
  justify-items: center;
}

.card {
  width: 10rem;
  height: 15rem;
  border-radius: 4px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.card:hover {
  animation: zoom 500ms ease-out forwards;
}

/******************Details**********************/
.details {
  display: none; /*as default isn displayed, display=block*/
  height: calc(97vh - 48px);
}

.backButton {
  margin: 0.5rem 2rem;
  width: 2rem;
  height: 2rem;
}
.cardDetail {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardDetail-banner {
  max-height: 360px;
  max-width: 250px;
}
.cardDetail-ranking {
}
.cardDetail-icon {
  width: 1rem;
  height: 1rem;
}

/******************Footer**********************/

footer {
  display: none; /*as default isn displayed, display=block*/
  text-align: center;
  height: 3vh;
  background: black;
}

/******************Querys**********************/

@media screen and (min-width: 560px) {
  section {
    max-width: 1200px;
  }
  .greeting-img {
    max-width: 30rem;
  }

  .backButton {
    margin: 1rem 3rem;
  }

  .grade {
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (min-width: 720px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .backButton {
    margin: 2rem 4rem;
  }

  .cardDetail {
    padding: 2rem;
  }

  .greeting-img {
    max-width: 40rem;
  }

  .greeting-container h1 {
    font-size: 2rem;
  }
  .greeting-btn {
    font-size: 1.5rem;
  }
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.animateZoom {
  animation: zoomOut 500ms 500ms linear;
}

@keyframes zoomOut {
  0% {
    transform: scale(8);
  }
  25% {
    transform: scale(4);
  }
  50% {
    transform: scale(2);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0.2;
    transform: translateY(160px);
  }
  100% {
    transform: translateY(0px);
  }
}
